@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110068547-1"></script>
        <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110068547-1');
        </script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet"
              type="text/css"
              href="css/mainstyle.css" />
         <meta charset="utf-8" />
        <title>About ZmanimApi</title>
    </head>
    <body>
        <div class="page-header">
            <h1 class="h1">ZmanimApi <small>A easy to use web api allowing you to build zmanim into any application</small></h1>
        </div>
        <span class="label label-primary"><b>USAGE:</b></span>
        <span class="label label-primary">The following elements are required to build a url request:</span>
        <ul class="list-group">
            <li class="list-group-item">Endpoint: The end point for the ZmanimApi is <a href="https://wyrezmanim.herokuapp.com/api/zmanim">https://wyrezmanim.herokuapp.com/api/zmanim</a></li>
        </ul>
        <span class="label label-primary"> Required Parameters:</span>
        <ul class="list-group">
            <li class="list-group-item">Timezone: The time zone for the zmanim request. Example: timezone=America/New_York</li>
            <li class="list-group-item">Latitude: The latitude of the location for the zmanim. Example: latitude=40.23524</li>
            <li class="list-group-item">Longitude: The longitude of the location for the zmanim. Example: longitude=-73.27162</li>
        </ul>
        <span class="label label-primary"> Optional Parameters:</span>
        <ul class="list-group">
            <li class="list-group-item">date: The date to calculate zmanim for,date format must be in month/day/year Example: date=12/5/2017</li>
            <li class="list-group-item">format: The format of the response, options include xml or json. Example: format=json</li>
            <li class="list-group-item">elevation: Elevation above sea level in meters of the location. if left out 0 is used. Example: elevation=23</li>
            <li class="list-group-item">timeformat: Specifies the way the zmanim time should be formatted. You can send in any time formatter that is supported by c#. You can follow the guide <a href="https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings">here</a> to learn how to specify a format. Example: timeformat=H:mm:ss</li>
            <li class="list-group-item">mode: By default the api returns many zmanim based on numerous shitas, if you would just like basic zmanim specify the basic mode Example: mode=basic</li>

        </ul>
        <span class="label label-primary"> Sample Url with most parameters:</span>
        <ul class="list-group">
            <li class="list-group-item"><a href="https://wyrezmanim.herokuapp.com/api/zmanim?timezone=America/New_York&latitude=40&longitude=-73&date=4/2/2018&timeformat=24&elevation=50&format=xml">https://wyrezmanim.herokuapp.com/api/zmanim?timezone=America/New_York&latitude=40&longitude=-73&date=4/2/2018&timeformat=24&elevation=50&format=xml</a></li>
              </ul>
    </body>
</html>

